<div ng-controller="GlossaryCtrl">
  <div id="radio-search">
    <form ng-submit="lookupRadioId()">
      <label for="radioid">Radio ID to search</label>
      <div class="input-group input-group-sm">
        <input class="form-control" name="radioid" placeholder="1234, 599, 2-1-8, 100X" type="text" ng-model="radioId">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Search</button>
        </span>
      </div>
    </form>
    <div class="results">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th scope="row">Agency</th>
            <td id="agency">{{ radio.agency }}</td>
          </tr>
          <tr>
            <th scope="row">Level 1 (Bureau)</th>
            <td id="level1">{{ radio.level1 }}</td>
          </tr>
          <tr>
            <th scope="row">Level 2 (Division)</th>
            <td id="level2">{{ radio.level2 }}</td>
          </tr>
          <tr>
            <th scope="row">Level 3 (Section)</th>
            <td id="level3">{{ radio.level3 }}</td>
          </tr>
          <tr>
            <th scope="row">Level 4 (Unit/Assignment)</th>
            <td id="level4">{{ radio.level4 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="ucr-search">
    <form ng-submit="lookupUCR()">
      <label for="ucr">UCR (Uniform Crime Reporting) Code to lookup</label>
      <div class="input-group input-group-sm">
        <input class="form-control" name="ucr" placeholder="041A" type="text" ng-model="ucrCode">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Define</button>
        </span>
      </div>
    </form>
    <div class="results">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th scope="row">Primary Description</th>
            <td id="primary_desc">{{ ucr.primary_desc }}</td>
          </tr>
          <tr>
            <th scope="row">Secondary Description</th>
            <td id="secondary_desc">{{ ucr.secondary_desc }}</td>
          </tr>
          <tr>
            <th scope="row">Index Code?</th>
            <td id="index_code">{{ ucr.index_code }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
