<div class="row">
  <div class="col-sm-12 col-md-6" id="radio-search">
    <form ng-submit="lookupRadioId()">
      <label for="radioid">Radio ID to search</label>
      <div class="input-group input-group-sm">
        <input class="form-control" name="radioid" placeholder="1234, 599, 2-1-8, 100X" type="text" ng-model="radioId">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Search</button>
        </span>
      </div>
    </form>
    <div class="results">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th scope="row">Agency</th>
            <td id="agency"></td>
          </tr>
          <tr>
            <th scope="row">Level 1 (Bureau)</th>
            <td id="level1"></td>
          </tr>
          <tr>
            <th scope="row">Level 2 (Division)</th>
            <td id="level2"></td>
          </tr>
          <tr>
            <th scope="row">Level 3 (Section)</th>
            <td id="level3"></td>
          </tr>
          <tr>
            <th scope="row">Level 4 (Unit/Assignment)</th>
            <td id="level4"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-12 col-md-6" id="term-search">

  </div>
</div>