<div id="map" class="row" ng-controller="MapCtrl">
  <div class="col-sm-12 col-md-8">
    <h3>Map of Chicago</h3>
    <p>Interact with this map or use the search box to find information about a specific address. Police districts are outlined in blue. Click/tap on the marker to get street view of the location (experimental).</p>
    <div id="map-canvas"></div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div id="address-search">
      <form ng-submit="lookupAddress()">
        <div class="form-group">
          <label for="address">Address, intersection, place to search</label>
          <div class="input-group input-group-sm">
            <input autofocus="autofocus" class="form-control" name="address" placeholder="e.g. 3510 S Michigan, Chicago" type="text" ng-model="address">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Search</button>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="traffic">
              Show traffic layer
              <input type="checkbox" ng-model="layers.traffic" name="traffic" ng-change="toggleLayer()">
            </label>
          </div>
          <div class="col-sm-6">
          <label for="transit">
              Show transit layer
              <input type="checkbox" ng-model="layers.transit" name="transit" ng-change="toggleLayer()">
            </label>
          </div>
        </div>
      </form>
      <div class="results">
        <table class="table table-bordered table-condensed">
          <tbody>
            <tr class="info">
              <th colspan="2">Location</th>
            </tr>
            <tr>
              <td>Formatted Address</td>
              <td>{{ location.meta.formatted_address }}</td>
            </tr>
            <tr>
              <td>Latitude: {{ location.meta.latitude }}</td>
              <td>Longitude: {{ location.meta.longitude }}</td>
            </tr>
            <tr>
              <td>Neighborhood</td>
              <td>{{ location.meta.neighborhood }}</td>
            </tr>
            <tr>
              <td>Community Area</td>
              <td>{{ location.meta.community_area }}</td>
            </tr>
            <tr class="info">
              <th colspan="2">Police</th>
            </tr>
            <tr>
              <td>Beat</td>
              <td>{{ location.police.beat }}</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Radio Zone {{ location.police.zone.num }}</strong> <span ng-if="location.police.zone.url">({{ location.police.zone.freq }} / <a href="{{ location.police.zone.url }}" target="_blank" ng-if="location.police.zone.url">Audio from Broadcastify</a>)</span><br>
              <div ng-if="location.police.zone.mp3"><audio controls src="{{ location.police.zone.mp3 }}">Your user agent does not support the HTML5 Audio element.</audio></div></td>
            </tr>
            <tr>
              <td>{{ location.police.district }} District</td>
              <td>Area {{ location.police.area }}</td>
            </tr>
            <tr class="info">
              <th colspan="2">Fire (coming soon)</th>
            </tr>
            <tr class="active">
              <td>Nearest Engine {{ location.fire.nearest_engine }}</td>
              <td>Nearest Ambo. {{ location.fire.nearest_ambo }}</td>
            </tr>
            <tr class="active">
              <td>Fire District {{ location.fire.district }}</td>
              <td>Battalion {{ location.fire.battalion }}</td>
            </tr>
            <tr class="active">
              <td>Radio Channel</td>
              <td>{{ location.fire.channel }}</td>
            </tr>
            <!-- <tr class="info">
              <th colspan="2">Stats</th>
            </tr>
            <tr>
              <td>Population</td>
              <td>{{ location.stats.population }}</td>
            </tr>
            <tr>
              <td>Homicides</td>
              <td>{{ location.stats.homicides }}</td>
            </tr>
            <tr>
              <td>Shootings</td>
              <td>{{ location.stats.shootings }}</td>
            </tr>
            <tr>
              <td>Census Tract Median Income</td>
              <td>{{ location.stats.income }}</td>
            </tr> -->
          </tbody>
        </table>
        <button class="btn btn-primary btn-lg" ng-click="openModal()" type="button">
          Listen Online
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="onlinestreams.html">
  <div class="modal-header">
    <button aria-label="Close" class="close" ng-click="closeModal()" type="button">
      <span aria-hidden="true">&#215;</span>
    </button>
    <h4 class="modal-title" id="onlineStreamsLabel">Online Streams</h4>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="feed in feeds">
        <a href="{{ feed.feedUrl }}" target="_blank">{{ feed.name }}</a> {{ feed.frequency + ' - ' }}{{ feed.description }}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="closeModal()" type="button">Close</button>
  </div>
</script>
