<div class="row" ng-controller="MapCtrl">
  <div class="col-sm-12 col-md-8">
    <div>{{ polyDesc }}</div>
    <div id="map-canvas"></div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div id="address-search">
      <form ng-submit="lookupAddress()">
        <div class="form-group">
          <label for="address">Address, intersection, place to search</label>
          <div class="input-group input-group-sm">
            <input autofocus="autofocus" class="form-control" name="address" placeholder="e.g. 3510 S Michigan, Chicago" type="text" ng-model="address">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Search</button>
            </span>
          </div>
        </div>
      </form>
      <div class="results">
        <table class="table table-bordered table-condensed">
          <tbody>
            <tr class="info">
              <th colspan="2">Location</th>
            </tr>
            <tr>
              <td>Formatted Address</td>
              <td>{{ location.meta.formatted_address }}</td>
            </tr>
            <tr>
              <td>Latitude: {{ location.meta.latitude }}</td>
              <td>Longitude: {{ location.meta.longitude }}</td>
            </tr>
            <tr>
              <td>Neighborhood</td>
              <td>{{ location.meta.neighborhood }}</td>
            </tr>
            <tr>
              <td>Community Area</td>
              <td>{{ location.meta.community_area }}</td>
            </tr>
            <tr class="info">
              <th colspan="2">Police</th>
            </tr>
            <tr>
              <td>Beat</td>
              <td>{{ location.police.beat }}</td>
            </tr>
            <tr>
              <td>Radio Zone</td>
              <td>{{ location.police.zone }}</td>
            </tr>
            <tr>
              <td>{{ location.police.district }} District</td>
              <td>Area {{ location.police.area }}</td>
            </tr>
            <tr class="info">
              <th colspan="2">Fire</th>
            </tr>
            <tr>
              <td>Nearest Engine {{ location.fire.nearest_engine }}</td>
              <td>Nearest Ambo. {{ location.fire.nearest_ambo }}</td>
            </tr>
            <tr>
              <td>Fire District {{ location.fire.district }}</td>
              <td>Battalion {{ location.fire.battalion }}</td>
            </tr>
            <tr>
              <td>Radio Channel</td>
              <td>{{ location.fire.channel }}</td>
            </tr>
            <!-- <tr class="info">
              <th colspan="2">Stats</th>
            </tr>
            <tr>
              <td>Population</td>
              <td>{{ location.stats.population }}</td>
            </tr>
            <tr>
              <td>Homicides</td>
              <td>{{ location.stats.homicides }}</td>
            </tr>
            <tr>
              <td>Shootings</td>
              <td>{{ location.stats.shootings }}</td>
            </tr>
            <tr>
              <td>Census Tract Median Income</td>
              <td>{{ location.stats.income }}</td>
            </tr> -->
<!--
Crime stats?
Nearby incidents?
-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
